/* body {
  background-color: #F4F5FF !important;
} */
body {
  background-color: #ffffff !important;
  color: #2b2d2f;
  /* background-image: url("/assets/background_half.png") */
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 4 px 0 rgba(34,36,38,.15)
}

.react-datepicker-wrapper {
  width: 100%;
}

.ui.header {
  color: #008080;
}

.ui.statistic>.value, .ui.statistics .statistic>.value, 
.ui.statistic>.label, .ui.statistics .statistic>.label {
  color: #c11c08;
}


